[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[packages]
'ruamel.yaml' = "*"
spotipy = {git = "https://github.com/plamere/spotipy.git", editable=true}
yamlreader = "*"
pyyaml = ">=4.2b1"

[requires]
python_version = "3.7"

[dev-packages]
